*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #f2f2f2;
    padding: 15px;

    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    justify-content: center;
    /* align-items: stretch; */
    /* align-items: center; */
    align-items: flex-start;

}

.item{
    background-color: orange;
    padding: 40px;
    margin: 30px;
    color: #fff;
    font-size: 25px;
}

.i2{
    /* height: 200px; */
}

.i3{
    height: 300px;
}